/*Change The Display to mobile*/
@media (max-width: 991px) 
{
	header,
	header.sticky
	{
		padding: 20px 50px;
		z-index: 1000;
	}

	.menu
	{
		position: fixed;
		top: 75px;
		left: -100%;
		display: block;
		padding: 100px 50px;
		text-align: center;
		width: 100%;
		height: 100vh;
		background: #fff;
		transition: 0.5s;
		z-index: 999;
		border-top: 1px solid rgba(0,0,0,0.2);
	}

	.menu.active
	{
		left: 0;
	}

	header ul li a
	{
		color: #111;
		font-size: 24px;
		margin: 10px;
	}

	.toggle 
	{
		width: 40px;
		height: 40px;
		background: url(../img/menu.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px;
		cursor: pointer;
	}

	.toggle.active
	{
		background: url(../img/close.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 25px;
		cursor: pointer;
	}


	header.sticky .toggle 
	{
		filter: invert(1);
	}

	section
	{
		padding: 100px 50px;
	}

	.banner
	{
		padding: 150px 50px 100px;
		padding-left: 10px;
	}

	.banner h2
	{
		font-size: 1.5em;
    	padding-top: 113%;
	}

	.banner h3
	{
		font-size: 1em;
	}

	.tombol1
	{
		margin-top: 10px;
		padding: 10px 20px;
		font-size: 16px;
	}

	.heading
	{
		font-size: 24px;
	}

	.contentTp h3 
	{
		font-size: 20px;
	}

	.content
	{
		flex-direction: column;
	}

	.w50 
	{
		min-width: 50%;
		margin-bottom: 20px;
	}

	.skill .content .skillTp 
	{
		margin: 10px;
	}

	.work .content .workTp
	{
		width: 100%;
		padding: 10px;
	}

	.testimonial .content .testimonialTp 
	{
		max-width: calc(100% - 20px);
		padding: 40px 20px;
		margin: 10px;
		background: #2196f3;
	}

	.testimonial .content .testimonialTp h3
	{
		margin-top: 20px;
	}

	.contactInfo
	{ 
		margin: 20px 0;
	}
}

@media (max-width: 600px) 
{
	header,
	header.sticky
	{
		padding: 20px 20px;
	}

	.banner 
	{
		padding: 150px 50px 100px;
	}

	section 
	{
		padding: 100px 20px;
	}
}